@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
/* Buttons */
.btn-primary {
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 2px solid;
  transition: all 0.3s;
}

.btn-primary:hover {
  background-color: rgba(37, 99, 235, 0.6); /* Tailwind blue-600 */
}

.btn-secondary {
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 2px solid;
  transition: all 0.3s;
}

.btn-secondary:hover {
  background-color: rgba(22, 163, 74, 0.6); /* Tailwind green-600 */
}

.btn-danger {
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 2px solid;
  transition: all 0.3s;
}

.btn-danger:hover {
  background-color: rgba(220, 38, 38, 0.6); /* Tailwind red-600 */
}

/* Laps Scrollbar */
#laps::-webkit-scrollbar {
  width: 6px;
}

#laps::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

#laps::-webkit-scrollbar-thumb:hover {
  background: #555;
}
