@import "tailwindcss";

html {
  font-size: 16px;
  zoom: 1; /* avoids browser quirks */
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Orbitron", sans-serif;
}
/* Buttons */
.btn-primary {
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 2px solid;
  transition: all 0.3s;
}

.btn-primary:hover {
  background-color: rgba(37, 99, 235, 0.6); /* Tailwind blue-600 */
  cursor: pointer;
}

.btn-secondary {
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 2px solid;
  transition: all 0.3s;
}

.btn-secondary:hover {
  background-color: rgba(22, 163, 74, 0.6); /* Tailwind green-600 */
  cursor: pointer;
}

.btn-danger {
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 2px solid;
  transition: all 0.3s;
}

.btn-danger:hover {
  background-color: rgba(220, 38, 38, 0.6); /* Tailwind red-600 */
  cursor: pointer;
}

/* Laps Scrollbar */
#laps::-webkit-scrollbar {
  width: 6px;
}

#laps::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

#laps::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Swiper Pagination Styles */
.swiper-pagination-bullet {
  position: relative;
  background: white;
  transform: translate(0px, 250px);
  opacity: 0.5;
  width: 10px;
  height: 10px;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  position: relative;
  transform: translate(0px, 250px);
}

.swiper-pagination-bullet::before {
  content: attr(data-tooltip);
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  padding: 5px 12px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 4px;
  font-size: 14px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
  white-space: nowrap;
  font-family: "Orbitron";
}

.swiper-pagination-bullet:hover::before {
  opacity: 1;
}

/* Swiper Pagination Custom Styles */

.swiper-pagination-bullet-active::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  border: 2px solid white;
  border-radius: 50%;
}
@media (min-width: 1500px) {
  .swiper-pagination-bullet {
    transform: translate(0px, 290px);
  }

  .swiper-pagination-bullet-active {
    transform: translate(0px, 290px);
  }
}

/* Particles container */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  pointer-events: auto;
}

.particles-js-canvas-el {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: auto;
}

.info-active {
  background-color: white;
  color: #0f172a;
}
